$menu-size: 230px;
.left-side-bar {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(174deg, #2c2d32, #53535b);
  z-index: 23;
  width: $menu-size;
  .branch-box {
    height: 56px;
    border-bottom: solid 1px #4c4c4c;
    width: $menu-size;
    .ic-logo {
      height: 55px;
      margin-left: 15px;
    }
  }
  .menu-wrapper {
    padding-top: 6px;
    top: 63px;
    .menu-item {
      height: 32px;
      font-size: 13px;
      color: #ffffff;
      padding-left: 20px;
      cursor: pointer;
      line-height: 32px;
      display: block;
      text-decoration: unset;
      &.selected {
        border-left: 6px solid #37b3ff;
        background-color: #58585d;
        font-weight: bold;
        padding-left: 14px;
      }
    }
    .sub-menu {
      padding-left: 35px;
      &.selected {
        padding-left: 29px;
      }
    }
    .menu-divider {
      margin: 10px 10px 10px 20px;
      width: 40px;
      height: 2px;
      border-top: solid 0.5px white;
      opacity: 0.5;
    }
  }
}
