.left-side-bar {
  background: #fafafa;
  padding-top: 66px;
  .menu-content {
    position: fixed;
    z-index: 1;
    height: 100%;
    min-height: 650px;
    box-shadow: inset -1px 0px 0 0 #e7e7e7;
    background-color: #fafafa;
    .ant-menu {
      border: none;
    }
  }
  .ant-menu {
    background-color: transparent !important;
  }
  .ant-menu-submenu {
    background-color: transparent !important;
  }
  &.collapsed {
    //width: 80px;
  }
  .dropdown-item {
    background-color: transparent !important;
  }
  .ant-menu-vertical-left {
    border: none;
  }
  .ant-menu-item-selected, .ant-menu-item-selected:hover, .ant-menu-item-selected:active {
    background-color: #fbf4e3 !important;
    border-left: 4px solid #ffc001 !important;
    span, span:active, span:hover, a, a:active, a:hover {
      color: #ffc001 !important;
    }
  }
  .ant-menu-inline .ant-menu-item {
    width: calc(100% - 1px);
  }
  .ant-menu-item-active {
    background-color: transparent !important;
  }
  .ant-menu-item {
    height: 50px !important;
    line-height: 50px !important;
    display: flex;
    align-items: center;
    border-left: 4px solid #ffffff;
    span, span:active, span:hover, a, a:active, a:hover, a, a:active, a:hover {
      color: #000000;
    }
    &::after {
      display: none !important;
    }
  }
  .button-collapsed {
    bottom: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .item-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    &:hover {
      .menu {
        color: #393939;
      }
    }
    img {
      height: 36px;
      width: 36px;
      margin: 40px auto 10px;
    }
    .menu {
      text-align: center;
      margin-bottom: 40px;
      font-size: 12px;
      color: #ffffff;
    }
    hr {
      height: 1px;
      background-color: #fff;
      width: 24px;
      margin: 0;
      border: none;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
      bottom: 0;
    }
  }
  .selected {
    background-color: #0063aa;
  }
}
