.left-side-bar {
  background: #fafafa;
  //width: 290px;
  padding-top: 66px;
  .menu-content {
    position: fixed;
     //width: 290px;
    z-index: 1;
    /* width: 80px; */
    height: 100%;
    min-height: 650px;
  }
  .ant-menu {
    background-color: transparent !important;
  }
  .ant-menu-submenu {
    background-color: transparent !important;
  }
  &.collapsed {
    //width: 80px;
  }
  .dropdown-item {
    background-color: transparent !important;
  }
  .ant-menu-vertical-left {
    border: none;
  }
  .ant-menu-item-selected {
    background-color: #fbf4e3 !important;
    a, span {
      color: #ffc001;
    }
  }
  .ant-menu-item {
    height: 50px !important;
    line-height: 50px !important;
    a, span {
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        color: #ffc001;
      }
    }
  }
  .button-collapsed {
    bottom: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .item-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    &:hover {
      .menu {
        color: #393939;
      }
    }
    img {
      height: 36px;
      width: 36px;
      margin: 40px auto 10px;
    }
    .menu {
      text-align: center;
      margin-bottom: 40px;
      font-size: 12px;
      color: #ffffff;
    }
    hr {
      height: 1px;
      background-color: #fff;
      width: 24px;
      margin: 0;
      border: none;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
      bottom: 0;
    }
  }
  .selected{
    background-color: #0063aa;
  }
}