.search-home-wrapper {
  .search-home-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .search-home-item {
      width: 30%;
      & > div {
        max-width: none;
      }
      &:last-child {
        width: 65%;
      }
    }
  }
}