.react-slick-wrapper {
  .slick-item {
    background: transparent;
    color: #fff;
    padding: 5%;
    width: 100%;
    height: 187px;
  }
  .slick-prev:before, .slick-next:before {
    color: black;
  }
  .slick-track {
    margin-left: unset;
    margin-right: unset;
  }
}

