.upload-images-videos-wrapper {
  /* you can make up upload button and sample style by using stylesheets */
  .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }

  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }

  .ant-upload-list-item {
    cursor: pointer;
    &.selected {
      border: 2px solid #37b3ff;
    }
    .ant-upload-list-item-actions {
      .anticon {
        font-size: 20px;
        cursor: pointer;
        color: white;
      }
    }
  }
}