.slider-wrapper {
  .slider-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    span {
      padding: 0px 20px;
    }
    .ant-slider {
      flex-grow: 1;
    }
  }
  .ant-slider-rail {
    background: #ccc !important;
  }
 }