.table-custom-wrapper {
  position: relative;
  .table-header {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
    .ant-input-affix-wrapper {
      margin-right: 15px;
      width: 100%;
      margin-bottom: 10px;
      box-shadow: none;
      input {
        padding-left: 30px;
        width: 320px;
        &:hover {
          border: none;
        }
        &:focus, &:active {
          width: 100%;
          flex-grow: 1;
          border: 1px solid #000000;
          box-shadow: none;
        }
      }
      .ant-input-suffix {
        left: 12px;
        right: auto;
      }
    }
    .dropdown-page-size {
      flex-shrink: 0;
      margin-left: auto;
      span {
        margin-right: 15px;
      }
    }
  }
  .actions-column {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      display: block;
      cursor: pointer;
      margin: 0 10px;
      background-size: contain !important;
    }
    .icon-view {
      width: 21px;
      height: 11px;
      background: url(../../../public/images/icons/icon-view.png) no-repeat
      center center;
    }
    .icon-edit {
      width: 17px;
      height: 15px;
      background: url(../../../public/images/icons/icon-edit.png) no-repeat
      center center;
    }
    .icon-delete {
      width: 13px;
      height: 15px;
      background: url(../../../public/images/icons/icon-delete.png) no-repeat
      center center;
    }
    .icon-view-details {
      width: 16px;
      height: 15px;
      background: url(../../../public/images/icons/ic_view.png) no-repeat
      center center;
    }
  }
  .ant-table-wrapper {
    .ant-table {
      color: #000000;
    }
    .ant-table-thead {
      text-transform: uppercase;
      border-bottom: solid 1px #e5e5e5;
      th {
        font-size: 13px;
        height: 70px;
        font-weight: bold;
        background: #ffffff;
      }
    }
    .ant-table-tbody {
      .ant-table-row {
        border-radius: 4px;
        word-break: break-word;
        word-wrap: break-word;
        &:hover {
          td {
            background: transparent;
          }
        }
        &:nth-child(even),
        &:nth-child(even):hover {
          background-color: #ffffff;
        }
        &:nth-child(odd),
        &:nth-child(odd):hover {
          background-color: #f5f5f5;
        }
      }
    }
    .ant-spin-nested-loading {
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
    }
  }
  .ant-pagination {
    .ant-pagination-item-active {
      background-color: #f5f5f;
      font-weight: bold;
    }
  }
  .table-total-count {
    position: absolute;
    bottom: 25px;
  }
}

.ant-table-filter-dropdown {
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  min-width: 180px !important;
}

.ant-table-filter-dropdown-btns {
  display: none;
}
