.rooms {
  .imfomation-room {
    margin-top: 30px;
    border-bottom: 3px solid #ccc;

    .badge-light {
      color: #252525;
      background-color: #fff;
    }

    .btn {
      color: #fff;
      min-width: 140px;
      margin-right: 20px;
      font-weight: bold;
    }

    .button-all {
      background: #0e9aff;
    }

    .button-empty {
      background: #7f7d7d;
    }

    .button-dirty {
      background: #59b09e;
    }

    .button-overdue {
      background: #ff001c;
    }
  }

  .table-room-list {
    margin-top: 30px;
    width: 100%;
    font-family: AvenirNext;
    font-weight: bold;
    .room-item {
      position: relative;
      width: 10.5%;
      height: 220px;
      text-align: center;
      margin-left: 2.28%;
      margin-bottom: 40px;
      display: inline-block;
      background-color: #4cd137;
      border: 1px solid #7f7d7d;
      border-radius: 10px;
      padding: 25px;
      img {
        width: 114px;
        height: 114px;
        margin-bottom: 20px;
      }
      .up-arrow {
        box-shadow: 3px 3px 3px #ccc;
        text-align: left;
        display: none;
        position: absolute;
        background-color: #fff;
        top: -82%;
        left: -80%;
        border: 1px solid #0396ff;
        border-radius: 10px;
        z-index: 60;
        width: 500px;
        height: 170px;
        font-size: 16px;
        .row {
          margin-bottom: 5px;
        }
        .hanna-confirmed {
          width: 50%;
          height: 100%;
          float: left;
          border-right: 1px solid #0396ff;
          .header {
            padding: 10px;
            background: #0496ff;
            color: #fff;
            border-top-left-radius: 7px;
          }
          .content {
            padding: 0 10px 10px 10px;
          }
        }
        .contract-info {
          float: left;
          width: 50%;
          height: 100%;
          .header {
            color: #0496ff;
            padding: 10px;
          }
          .content {
            padding: 0 10px 10px 10px;
            .btn {
              width: 100px;
              font-size: 16px;

            }
          }
        }
      }
      &:hover {
        .up-arrow {
          display: block;
        }
        .my-tooltip {
          display: block;
        }
      }

      .my-tooltip {
        cursor: pointer;
        position: absolute;
        top: 35%;
        left: 0%;
        width: 100%;
        height: 63px;
        z-index: 60;
        display: flex;
        display: none;
        background-color: #ffffff;
        padding: 10px 20px 10px 0px;
        border: 1px solid #ccc;
        border-radius: 7px;
        img {
          height: 35px;
          width: 35px;
          margin-left: 20px;
        }
        .mouse {
          height: 15px;
          width: 15px;
          margin-top: 20px;
        }
      }
    }
  }
  .up-arrow:before {
    content: '';
    display: block;
    position: absolute;
    left: 220px;
    bottom: -11%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #0396ff;
  }

  .up-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: 221px;
    bottom: -10%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-top-color: white;
  }
}

.modal-dialog {
  min-width: 840px;
}