.home-details-wrapper {
  .search-home-box {
    .search-home-item {
      width: calc( (100% - 140px - 60px) / 3 ) !important;
    }
    .button-list {
      padding-top: 35px;
    }
  }
  .reservations-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }

  .steps-wrapper {
    .box-contents {
      display: flex;
      flex-flow: row nowrap;
      .box-left {
        width: 27%;
        flex-shrink: 0;
      }
      .box-right {
        padding-left: 25px;
        flex-grow: 1;
      }
    }
  }

  .images-wrapper {
    display: flex;
    margin-bottom: 15px;

    .home-image {
      width: 50%;
      height: auto;
      border-radius: 6px;
      padding: 10px 20px;
      border: 1px solid #40404040;
      min-height: 400px;

      img {
        width: 100%;
        height: 100%;
        border: 2px solid #40404040;
      }
    }

    .home-details {
      padding-left: 20px;
      width: 50%;
    }
  }
}